/* Chatbot layout fixes */
#webchat .bpWebchat {
  position: unset;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

#webchat .bpFab {
  display: none;
}

/* Page layout */
body {
  font-family: sans-serif;
  margin: 40px;
  background: #f8f8f8;
  color: #222;
}

h1 {
  color: #ef4444;
}